@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

:root {
  --primary-color: #006769;
  --secondary-color: #40a578;
  --third-color: #9dde8b;
  --text-color: #e6ff94;

  background-color: var(--third-color);
  font-family: 'Ubuntu', sans-serif;
}
